body
{
    text-align: center;
    background-color: blueviolet;
    text-decoration-color: brown;
}

#contenedor 
{
    border: solid gray;
    width: auto;
    height: auto;

}

#texto 
{
    text-align: center;
    
}


#cabecera 
{
    background-color: rgb(216, 25, 216);
    width: auto;
    height: auto;
    border: solid rgb(159, 11, 233);
}


