body
{
    text-align: center;
    background-color: blueviolet;
    text-decoration-color: brown;
}

#contenedor 
{
    border: solid gray;
    width: auto;
    height: auto;

}

#texto 
{
    text-align: center;
    
}
